<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <form method="post" ng-hide="mailSent" ng-submit="sendEmail()" name="forgotForm" autocomplete="off">
          <h2 class="text-center">Forgot Password</h2>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : forgotForm.email.$invalid && forgotForm.email.$dirty }">
            <input class="form-control input-lg" type="email" name="email" ng-model="email" placeholder="Email" required>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="forgotForm.email.$dirty" ng-messages="forgotForm.email.$error">
              <div ng-message="required">Email is required</div>
            </div>
          </div>
          <button type="submit" ng-disabled="forgotForm.$invalid || inProgress" class="btn btn-lg btn-block btn-primary">
            <span data-animation="true" ng-show="inProgress" class="ion-looping"></span>
            <span>Send</span>
          </button>
          <br/>
        </form>
        <div ng-show="mailSent">Check you mail to complete the reset password procedure</div>
      </div>
    </div>
  </div>
</div>