<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <form method="post" ng-submit="resetPassword()" name="resetForm" autocomplete="off">
          <h2 class="text-center">Reset Password</h2>
          <div class="form-group has-feedback" ng-class="{ 'has-error' : resetForm.password.$invalid && resetForm.password.$dirty }">
            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="New password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="resetForm.password.$dirty" ng-messages="resetForm.password.$error">
              <div ng-message="required">Password is required</div>
            </div>
          </div>
          <button type="submit" ng-disabled="resetForm.$invalid || inProgress" class="btn btn-lg btn-block btn-primary">
            <span data-animation="true" ng-show="inProgress" class="ion-looping"></span>
            <span>Send</span>
          </button>
          <br/>
        </form>
      </div>
    </div>
  </div>
</div>